.DS_Store
/.build
/Packages
/.vscode
.idea/
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
GhosttyKit.xcframework
GhosttyKit/ghostty.h
Muxy/Resources/ghostty
Muxy/Resources/terminfo
Muxy/Resources/rg
/ghostty
/build
.agents/
.claude/
*.dmg
appcast*.xml
.plans/
.muxy/
/muxy-markdown-remote-image-urlcache
CLAUDE.md
debug.log
debug_script.sh
muxy_output.log
Muxy-Fork-Changes.md
GhosttyKit.xcframework
功能区域统计.md
dist/
AGENTS.md
.github


