.DS_Store
/.build
/Packages
/.vscode
.idea/
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.env
GhosttyKit.xcframework
GhosttyKit/ghostty.h
Muxy/Resources/ghostty
!Muxy/Resources/ghostty/themes
!Muxy/Resources/ghostty/themes/**
Muxy/Resources/terminfo
Muxy/Resources/rg
/ghostty
/build
.agents/
.claude/
*.dmg
appcast*.xml
.plans/
.muxy/
/muxy-markdown-remote-image-urlcache
.opencode/
.pi/
